<div id='<%= f.object.id %>'>
<fieldset>
  <div class="control-group">
    <%= f.label :slug, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :slug, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :uri, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :uri, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :content_type, :class => 'text_field' %>
    </div>
  </div>
<hr/>
</fieldset>
</div>