<%- model_class = @content.class -%>
<div class="page-header">
  <h3><%=t '.title', :default => t('helpers.titles.define', :model => model_class.model_name.human,
                   :default => "Edit #{@content.slug or model_class.model_name.human}") %></h3>
</div>
<%= form_for @content, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @content.errors.any? %>
    <div class="errors">
        <h3>ERROR!</h3>
        <ul>
          <% @content.errors.full_messages.each do |msg| %>
            <%= content_tag :li, msg %>
          <% end %>
        </ul>
    </div>
  <% end %>
  <%= render :partial => 'fields_new', :locals => {f: f} %>
  <%= render :partial => 'fields_edit', :locals => {f: f} %>
  <hr/>
  <h4>Seo</h4>
  <%= f.fields_for :seo do |seo| %>
    <%= render :partial => 'fields_seo', :locals => {f: seo} %>
  <% end %>
  <h4>Resources</h4>
  <%= f.fields_for :resources do |seo| %>
    <%= render :partial => 'fields_resource', :locals => {f: seo} %>
  <% end %>
 <h4>Children</h4>
<% @content.child_contents.each do |child| %>
  <%= link_to child.title, url_for([@content, child]) %>
<% end -%>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contents_path, :class => 'btn' %>
  </div>

<%  end %>

<% content_for :breadcrumb do %>
  <%= content_tag :anchor, @content.title %>
<% end %>

