<%- model_class = @content.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => "#{@content.title}" %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:_type) %>:</strong></dt>
  <dd><%= @content._type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:_id) %>:</strong></dt>
  <dd><%= @content._id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slug) %>:</strong></dt>
  <dd><%= @content.slug %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              contents_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_content_path(@content.ancestry), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              content_path(@content),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
